.about-high-school{
  width: 60%;
  margin-left: 195px;
  padding-top: 120px;
}
#about-hign-school{
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 50px;
}
#mission span{
  color: red;
}
#mission{
  font-size: 24px;
}

#who-we-are{
  font-size: 56px;
  color: #0C378A;
  font-weight: bold;
  padding-top: 30px;
}
#arrangement{
  font-size: 24px;
  margin-left: 120px;
}
