<div class="news">
  <p>Noutati LTD:</p>
</div>















<div class="inspiration">

  <p>Fii inspirat de Liceul nostru</p>
<svg id="background-inspiration" width="1275" height="600" viewBox="0 0 1275 600" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g filter="url(#filter0_d)">
    <path d="M70.9998 17.1675C487.313 -21.4596 792.313 17.1679 1271 17.1675C1257.04 57.8694 1241.8 182.054 1201 592C1043.79 586.112 953.61 583.02 651 592H4.5C33.5 374.5 79.4933 245.957 70.9998 17.1675Z" fill="url(#paint0_linear)"/>
  </g>
  <defs>
    <filter id="filter0_d" x="0.5" y="0" width="1274.5" height="600" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
      <feOffset dy="4"/>
      <feGaussianBlur stdDeviation="2"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
    </filter>
    <linearGradient id="paint0_linear" x1="149.813" y1="187.362" x2="1363.43" y2="1534.06" gradientUnits="userSpaceOnUse">
      <stop stop-color="#4190E0"/>
      <stop offset="1" stop-color="#ECF5FA" stop-opacity="0.56"/>
    </linearGradient>
  </defs>
</svg>

  <div class="clouds">
    <div class="cloud-1">
      <svg width="249" height="147" viewBox="0 0 249 147" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M249 81C249 131.534 193.259 147 124.5 147C55.7405 147 0 131.534 0 81C0 30.4659 55.7405 0 124.5 0C193.259 0 249 30.4659 249 81Z" fill="gray" fill-opacity=".32"/>
        <path d="M84.25 90.5C87.7 90.5 90.475 87.7 90.475 84.25C90.475 80.8 87.7 78 84.25 78C80.8 78 78 80.8 78 84.25C78 87.7 80.8 90.5 84.25 90.5ZM65.5 88C69.65 88 72.975 84.65 72.975 80.5C72.975 76.35 69.65 73 65.5 73C61.35 73 58 76.35 58 80.5C58 84.65 61.35 88 65.5 88ZM84.25 95.5C79.675 95.5 70.5 97.8 70.5 102.375V108H98V102.375C98 97.8 88.825 95.5 84.25 95.5ZM65.5 93C59.675 93 48 95.925 48 101.75V108H65.5V102.375C65.5 100.25 66.325 96.525 71.425 93.7C69.25 93.25 67.15 93 65.5 93Z" fill="white"/>
        <path d="M92.7863 24.1H106.226V26.724H95.8263V33.54H104.786V36.1H95.8263V43.876H106.226V46.5H92.7863V24.1ZM112.311 40.996C112.311 42.148 112.546 43.0013 113.015 43.556C113.506 44.1107 114.178 44.388 115.031 44.388C115.437 44.388 115.831 44.3453 116.215 44.26C116.599 44.1533 116.941 44.036 117.239 43.908L117.943 46.244C117.559 46.4147 117.079 46.564 116.503 46.692C115.949 46.82 115.33 46.884 114.647 46.884C113.901 46.884 113.207 46.7773 112.567 46.564C111.949 46.3507 111.405 46.02 110.935 45.572C110.466 45.124 110.093 44.548 109.815 43.844C109.559 43.14 109.431 42.2867 109.431 41.284V22.82H112.311V40.996ZM122.009 39.364C122.201 40.9213 122.745 42.1373 123.641 43.012C124.537 43.8867 125.721 44.324 127.193 44.324C128.153 44.324 129.017 44.228 129.785 44.036C130.553 43.8227 131.289 43.556 131.993 43.236L132.665 45.7C131.897 46.0627 131.033 46.3507 130.073 46.564C129.113 46.7773 128.036 46.884 126.841 46.884C125.646 46.884 124.569 46.692 123.609 46.308C122.649 45.9027 121.828 45.3373 121.145 44.612C120.484 43.8653 119.972 42.9587 119.609 41.892C119.246 40.804 119.065 39.5667 119.065 38.18C119.065 36.9427 119.246 35.7907 119.609 34.724C119.972 33.6573 120.484 32.74 121.145 31.972C121.806 31.1827 122.596 30.5747 123.513 30.148C124.43 29.7 125.454 29.476 126.585 29.476C127.78 29.476 128.825 29.6787 129.721 30.084C130.617 30.4893 131.364 31.044 131.961 31.748C132.558 32.452 133.006 33.2733 133.305 34.212C133.604 35.1507 133.753 36.1427 133.753 37.188C133.753 37.9347 133.721 38.66 133.657 39.364H122.009ZM126.521 31.972C125.262 31.972 124.228 32.3987 123.417 33.252C122.628 34.1053 122.148 35.364 121.977 37.028H131.097C131.097 35.4067 130.692 34.1587 129.881 33.284C129.07 32.4093 127.95 31.972 126.521 31.972ZM135.351 30.628L137.975 29.54L143.639 43.236L149.303 29.54L151.767 30.628L145.047 46.5H142.039L135.351 30.628ZM157.534 46.5H154.654V29.86H157.534V46.5ZM156.094 27.012C155.539 27.012 155.059 26.82 154.654 26.436C154.27 26.0307 154.078 25.5507 154.078 24.996C154.078 24.3773 154.259 23.8867 154.622 23.524C154.984 23.1613 155.475 22.98 156.094 22.98C156.648 22.98 157.118 23.1827 157.502 23.588C157.907 23.972 158.11 24.4413 158.11 24.996C158.11 25.6147 157.928 26.1053 157.566 26.468C157.203 26.8307 156.712 27.012 156.094 27.012Z" fill="white"/>
        <path d="M151.535 104.5C151.471 104.116 151.439 103.721 151.439 103.316C151.439 101.951 151.684 100.713 152.175 99.604C152.687 98.4947 153.316 97.492 154.063 96.596C154.809 95.6787 155.609 94.836 156.463 94.068C157.337 93.2787 158.148 92.532 158.895 91.828C159.641 91.1027 160.26 90.388 160.751 89.684C161.263 88.9587 161.519 88.1907 161.519 87.38C161.519 86.484 161.188 85.748 160.527 85.172C159.865 84.5747 159.012 84.276 157.967 84.276C157.071 84.276 156.249 84.4573 155.503 84.82C154.777 85.1613 154.095 85.6307 153.455 86.228L151.855 84.276C152.708 83.508 153.647 82.8893 154.671 82.42C155.716 81.9507 156.921 81.716 158.287 81.716C159.225 81.716 160.079 81.8547 160.847 82.132C161.636 82.4093 162.297 82.804 162.831 83.316C163.385 83.8067 163.812 84.3827 164.111 85.044C164.409 85.7053 164.559 86.42 164.559 87.188C164.559 88.212 164.324 89.1613 163.855 90.036C163.407 90.8893 162.831 91.7107 162.127 92.5C161.444 93.268 160.687 94.0147 159.855 94.74C159.044 95.444 158.276 96.1693 157.551 96.916C156.825 97.6627 156.185 98.4413 155.631 99.252C155.097 100.063 154.777 100.937 154.671 101.876H164.527V104.5H151.535ZM177.538 81.716C178.776 81.716 179.874 81.9827 180.834 82.516C181.794 83.028 182.594 83.7853 183.234 84.788C183.874 85.7693 184.354 86.9853 184.674 88.436C185.016 89.8653 185.186 91.4973 185.186 93.332C185.186 97.044 184.525 99.9027 183.202 101.908C181.88 103.892 179.97 104.884 177.474 104.884C174.978 104.884 173.08 103.871 171.778 101.844C170.477 99.8173 169.826 96.9587 169.826 93.268C169.826 89.556 170.488 86.708 171.81 84.724C173.133 82.7187 175.042 81.716 177.538 81.716ZM177.506 84.34C176.802 84.34 176.162 84.5 175.586 84.82C175.01 85.1187 174.52 85.62 174.114 86.324C173.709 87.0067 173.4 87.9133 173.186 89.044C172.973 90.1747 172.866 91.572 172.866 93.236C172.866 96.2013 173.272 98.452 174.082 99.988C174.893 101.503 176.034 102.26 177.506 102.26C178.21 102.26 178.85 102.111 179.426 101.812C180.002 101.492 180.493 100.991 180.898 100.308C181.304 99.604 181.613 98.6867 181.826 97.556C182.04 96.4253 182.146 95.028 182.146 93.364C182.146 90.3987 181.741 88.1587 180.93 86.644C180.12 85.108 178.978 84.34 177.506 84.34ZM196.726 81.716C197.963 81.716 199.062 81.9827 200.022 82.516C200.982 83.028 201.782 83.7853 202.422 84.788C203.062 85.7693 203.542 86.9853 203.862 88.436C204.203 89.8653 204.374 91.4973 204.374 93.332C204.374 97.044 203.712 99.9027 202.39 101.908C201.067 103.892 199.158 104.884 196.662 104.884C194.166 104.884 192.267 103.871 190.966 101.844C189.664 99.8173 189.014 96.9587 189.014 93.268C189.014 89.556 189.675 86.708 190.998 84.724C192.32 82.7187 194.23 81.716 196.726 81.716ZM196.694 84.34C195.99 84.34 195.35 84.5 194.774 84.82C194.198 85.1187 193.707 85.62 193.302 86.324C192.896 87.0067 192.587 87.9133 192.374 89.044C192.16 90.1747 192.054 91.572 192.054 93.236C192.054 96.2013 192.459 98.452 193.27 99.988C194.08 101.503 195.222 102.26 196.694 102.26C197.398 102.26 198.038 102.111 198.614 101.812C199.19 101.492 199.68 100.991 200.086 100.308C200.491 99.604 200.8 98.6867 201.014 97.556C201.227 96.4253 201.334 95.028 201.334 93.364C201.334 90.3987 200.928 88.1587 200.118 86.644C199.307 85.108 198.166 84.34 196.694 84.34Z" fill="white"/>
        <defs>
          <linearGradient id="paint0_linear" x1="33.5" y1="-24" x2="188.5" y2="202.5" gradientUnits="userSpaceOnUse">
            <stop stop-color="#4190E0"/>
            <stop offset="1" stop-color="#F2AE15" stop-opacity="0"/>
          </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="cloud-2">
      <svg width="249" height="147" viewBox="0 0 249 147" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M249 81C249 131.534 193.259 147 124.5 147C55.7405 147 0 131.534 0 81C0 30.4659 55.7405 0 124.5 0C193.259 0 249 30.4659 249 81Z" fill="gray" fill-opacity=".32"/>
        <path d="M89.1571 35.268C89.1571 36.612 89.3278 37.8387 89.6691 38.948C90.0318 40.036 90.5225 40.9747 91.1411 41.764C91.7811 42.5533 92.5385 43.1613 93.4131 43.588C94.2878 44.0147 95.2478 44.228 96.2931 44.228C97.3385 44.228 98.2451 44.1107 99.0131 43.876C99.7811 43.62 100.528 43.2787 101.253 42.852L102.181 45.38C101.392 45.8067 100.485 46.1693 99.4611 46.468C98.4585 46.7453 97.2851 46.884 95.9411 46.884C94.4691 46.884 93.1251 46.6173 91.9091 46.084C90.7145 45.5507 89.6798 44.7933 88.8051 43.812C87.9305 42.8093 87.2478 41.604 86.7571 40.196C86.2878 38.7667 86.0531 37.1667 86.0531 35.396C86.0531 33.6893 86.2878 32.1213 86.7571 30.692C87.2478 29.2627 87.9411 28.036 88.8371 27.012C89.7331 25.9667 90.8105 25.156 92.0691 24.58C93.3491 24.004 94.7678 23.716 96.3251 23.716C97.4131 23.716 98.3838 23.8227 99.2371 24.036C100.112 24.228 100.933 24.5053 101.701 24.868L100.773 27.428C100.112 27.108 99.4291 26.852 98.7251 26.66C98.0425 26.468 97.2318 26.372 96.2931 26.372C95.2691 26.372 94.3198 26.5747 93.4451 26.98C92.5705 27.364 91.8131 27.94 91.1731 28.708C90.5331 29.476 90.0318 30.4147 89.6691 31.524C89.3278 32.612 89.1571 33.86 89.1571 35.268ZM108.108 40.996C108.108 42.148 108.343 43.0013 108.812 43.556C109.303 44.1107 109.975 44.388 110.828 44.388C111.233 44.388 111.628 44.3453 112.012 44.26C112.396 44.1533 112.737 44.036 113.036 43.908L113.74 46.244C113.356 46.4147 112.876 46.564 112.3 46.692C111.745 46.82 111.127 46.884 110.444 46.884C109.697 46.884 109.004 46.7773 108.364 46.564C107.745 46.3507 107.201 46.02 106.732 45.572C106.263 45.124 105.889 44.548 105.612 43.844C105.356 43.14 105.228 42.2867 105.228 41.284V22.82H108.108V40.996ZM114.862 38.276C114.862 37.0387 115.054 35.8867 115.438 34.82C115.822 33.732 116.355 32.7933 117.038 32.004C117.742 31.2147 118.574 30.596 119.534 30.148C120.515 29.7 121.582 29.476 122.734 29.476C123.694 29.476 124.558 29.6467 125.326 29.988C126.115 30.308 126.798 30.7133 127.374 31.204V29.86H129.998V42.468C129.998 43.2787 130.19 43.812 130.574 44.068C130.979 44.3027 131.417 44.42 131.886 44.42L131.278 46.66C129.23 46.66 127.993 45.828 127.566 44.164C127.31 44.5053 127.011 44.8467 126.67 45.188C126.35 45.508 125.977 45.796 125.55 46.052C125.123 46.308 124.643 46.5107 124.11 46.66C123.577 46.8093 122.99 46.884 122.35 46.884C121.305 46.884 120.323 46.6813 119.406 46.276C118.51 45.8707 117.721 45.2947 117.038 44.548C116.377 43.8013 115.843 42.9053 115.438 41.86C115.054 40.7933 114.862 39.5987 114.862 38.276ZM122.99 44.324C123.801 44.324 124.569 44.132 125.294 43.748C126.019 43.364 126.627 42.8627 127.118 42.244V33.316C126.542 32.9107 125.902 32.5907 125.198 32.356C124.515 32.1 123.79 31.972 123.022 31.972C122.254 31.972 121.55 32.1213 120.91 32.42C120.27 32.7187 119.715 33.1453 119.246 33.7C118.798 34.2333 118.446 34.884 118.19 35.652C117.934 36.42 117.806 37.2627 117.806 38.18C117.806 39.076 117.934 39.908 118.19 40.676C118.446 41.4227 118.809 42.0733 119.278 42.628C119.747 43.1613 120.291 43.5773 120.91 43.876C121.55 44.1747 122.243 44.324 122.99 44.324ZM135.508 42.756C136.063 43.2467 136.756 43.6413 137.588 43.94C138.441 44.2387 139.348 44.388 140.308 44.388C141.503 44.388 142.399 44.196 142.996 43.812C143.615 43.4067 143.924 42.8947 143.924 42.276C143.924 41.956 143.86 41.6573 143.732 41.38C143.625 41.1027 143.412 40.836 143.092 40.58C142.793 40.324 142.377 40.0787 141.844 39.844C141.311 39.588 140.617 39.3107 139.764 39.012C138.185 38.4787 137.012 37.8493 136.244 37.124C135.476 36.3773 135.092 35.3533 135.092 34.052C135.092 33.412 135.231 32.8147 135.508 32.26C135.807 31.7053 136.223 31.2253 136.756 30.82C137.311 30.3933 137.972 30.0627 138.74 29.828C139.529 29.5933 140.425 29.476 141.428 29.476C142.516 29.476 143.465 29.5933 144.276 29.828C145.108 30.0413 145.855 30.3187 146.516 30.66L145.716 33.028C145.14 32.6867 144.479 32.4093 143.732 32.196C143.007 31.9827 142.196 31.876 141.3 31.876C140.191 31.876 139.348 32.1 138.772 32.548C138.196 32.996 137.908 33.4867 137.908 34.02C137.908 34.276 137.951 34.5107 138.036 34.724C138.143 34.9373 138.324 35.14 138.58 35.332C138.836 35.524 139.177 35.716 139.604 35.908C140.031 36.1 140.564 36.3027 141.204 36.516C142.249 36.8787 143.135 37.252 143.86 37.636C144.585 37.9987 145.172 38.404 145.62 38.852C146.068 39.3 146.388 39.7907 146.58 40.324C146.772 40.836 146.868 41.412 146.868 42.052C146.868 42.7987 146.708 43.4707 146.388 44.068C146.068 44.6653 145.62 45.1773 145.044 45.604C144.468 46.0093 143.764 46.3187 142.932 46.532C142.121 46.7667 141.215 46.884 140.212 46.884C138.932 46.884 137.791 46.724 136.788 46.404C135.785 46.084 134.953 45.668 134.292 45.156L135.508 42.756ZM152.525 39.364C152.717 40.9213 153.261 42.1373 154.157 43.012C155.053 43.8867 156.237 44.324 157.709 44.324C158.669 44.324 159.533 44.228 160.301 44.036C161.069 43.8227 161.805 43.556 162.509 43.236L163.181 45.7C162.413 46.0627 161.549 46.3507 160.589 46.564C159.629 46.7773 158.551 46.884 157.357 46.884C156.162 46.884 155.085 46.692 154.125 46.308C153.165 45.9027 152.343 45.3373 151.661 44.612C150.999 43.8653 150.487 42.9587 150.125 41.892C149.762 40.804 149.581 39.5667 149.581 38.18C149.581 36.9427 149.762 35.7907 150.125 34.724C150.487 33.6573 150.999 32.74 151.661 31.972C152.322 31.1827 153.111 30.5747 154.029 30.148C154.946 29.7 155.97 29.476 157.101 29.476C158.295 29.476 159.341 29.6787 160.237 30.084C161.133 30.4893 161.879 31.044 162.477 31.748C163.074 32.452 163.522 33.2733 163.821 34.212C164.119 35.1507 164.269 36.1427 164.269 37.188C164.269 37.9347 164.237 38.66 164.173 39.364H152.525ZM157.037 31.972C155.778 31.972 154.743 32.3987 153.933 33.252C153.143 34.1053 152.663 35.364 152.493 37.028H161.613C161.613 35.4067 161.207 34.1587 160.397 33.284C159.586 32.4093 158.466 31.972 157.037 31.972Z" fill="white"/>
        <path d="M161.129 104.5C161.065 104.116 161.033 103.721 161.033 103.316C161.033 101.951 161.278 100.713 161.769 99.604C162.281 98.4947 162.91 97.492 163.657 96.596C164.403 95.6787 165.203 94.836 166.057 94.068C166.931 93.2787 167.742 92.532 168.489 91.828C169.235 91.1027 169.854 90.388 170.345 89.684C170.857 88.9587 171.113 88.1907 171.113 87.38C171.113 86.484 170.782 85.748 170.121 85.172C169.459 84.5747 168.606 84.276 167.561 84.276C166.665 84.276 165.843 84.4573 165.097 84.82C164.371 85.1613 163.689 85.6307 163.049 86.228L161.449 84.276C162.302 83.508 163.241 82.8893 164.265 82.42C165.31 81.9507 166.515 81.716 167.881 81.716C168.819 81.716 169.673 81.8547 170.441 82.132C171.23 82.4093 171.891 82.804 172.425 83.316C172.979 83.8067 173.406 84.3827 173.705 85.044C174.003 85.7053 174.153 86.42 174.153 87.188C174.153 88.212 173.918 89.1613 173.449 90.036C173.001 90.8893 172.425 91.7107 171.721 92.5C171.038 93.268 170.281 94.0147 169.449 94.74C168.638 95.444 167.87 96.1693 167.145 96.916C166.419 97.6627 165.779 98.4413 165.225 99.252C164.691 100.063 164.371 100.937 164.265 101.876H174.121V104.5H161.129ZM193.98 97.556C193.98 98.6227 193.788 99.604 193.404 100.5C193.041 101.396 192.508 102.175 191.804 102.836C191.121 103.476 190.3 103.977 189.34 104.34C188.38 104.703 187.313 104.884 186.14 104.884C184.817 104.884 183.687 104.745 182.748 104.468C181.831 104.169 180.988 103.753 180.22 103.22L181.724 100.756C182.321 101.183 182.983 101.545 183.708 101.844C184.433 102.121 185.255 102.26 186.172 102.26C186.876 102.26 187.516 102.153 188.092 101.94C188.689 101.727 189.191 101.428 189.596 101.044C190.023 100.639 190.353 100.169 190.588 99.636C190.823 99.1027 190.94 98.516 190.94 97.876C190.94 96.532 190.481 95.444 189.564 94.612C188.668 93.78 187.377 93.364 185.692 93.364H181.724V82.1H192.796V84.692H184.444V90.772H186.044C187.281 90.772 188.391 90.9427 189.372 91.284C190.353 91.604 191.185 92.0733 191.868 92.692C192.551 93.2893 193.073 94.004 193.436 94.836C193.799 95.668 193.98 96.5747 193.98 97.556Z" fill="white"/>
        <path d="M73 73V110.5H45.5V105.5H50.5V65.5H73V68H85.5V105.5H90.5V110.5H80.5V73H73ZM63 85.5V90.5H68V85.5H63Z" fill="white"/>
        <defs>
          <linearGradient id="paint0_linear" x1="33.5" y1="-24" x2="188.5" y2="202.5" gradientUnits="userSpaceOnUse">
            <stop stop-color="#4190E0"/>
            <stop offset="1" stop-color="#F2AE15" stop-opacity="0"/>
          </linearGradient>
        </defs>
      </svg>

    </div>
    <div class="cloud-3">
      <svg width="249" height="147" viewBox="0 0 249 147" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M249 81C249 131.534 193.259 147 124.5 147C55.7405 147 0 131.534 0 81C0 30.4659 55.7405 0 124.5 0C193.259 0 249 30.4659 249 81Z" fill="gray" fill-opacity=".32"/>
        <path d="M60.6456 24.664C61.5416 24.5573 62.5016 24.4827 63.5256 24.44C64.571 24.376 65.6696 24.344 66.8216 24.344C68.2083 24.344 69.4456 24.5147 70.5336 24.856C71.6216 25.1973 72.539 25.6667 73.2856 26.264C74.0323 26.8613 74.5976 27.5867 74.9816 28.44C75.3656 29.272 75.5576 30.1787 75.5576 31.16C75.5576 32.3547 75.323 33.4213 74.8536 34.36C74.4056 35.2773 73.7656 36.056 72.9336 36.696C72.123 37.336 71.1416 37.8267 69.9896 38.168C68.8376 38.488 67.5683 38.648 66.1816 38.648C65.2856 38.648 64.4536 38.616 63.6856 38.552V47H60.6456V24.664ZM66.5656 36.12C68.4856 36.12 69.9576 35.704 70.9816 34.872C72.027 34.0187 72.5496 32.8667 72.5496 31.416C72.5496 30.0293 72.0483 28.9307 71.0456 28.12C70.0643 27.3093 68.635 26.904 66.7576 26.904C66.1816 26.904 65.6376 26.9147 65.1256 26.936C64.6136 26.9573 64.1336 26.9893 63.6856 27.032V35.96C64.027 36.0027 64.4323 36.0453 64.9016 36.088C65.3923 36.1093 65.947 36.12 66.5656 36.12ZM87.9434 33.144C87.538 32.9733 87.058 32.888 86.5034 32.888C85.906 32.888 85.3194 33.016 84.7434 33.272C84.1887 33.528 83.6874 33.912 83.2394 34.424C82.8127 34.936 82.4607 35.5973 82.1834 36.408C81.9274 37.1973 81.7994 38.136 81.7994 39.224V47H78.9194V30.36H81.7034V33.976C81.8954 33.464 82.1514 32.9627 82.4714 32.472C82.7914 31.9813 83.1647 31.5547 83.5914 31.192C84.0394 30.8293 84.5514 30.5413 85.1274 30.328C85.7034 30.0933 86.3434 29.976 87.0474 29.976C87.3674 29.976 87.6767 29.9973 87.9754 30.04C88.2954 30.0613 88.5727 30.104 88.8074 30.168L87.9434 33.144ZM103.084 38.68C103.084 37.848 102.945 37.0587 102.668 36.312C102.412 35.5653 102.039 34.9147 101.548 34.36C101.079 33.8053 100.513 33.368 99.8519 33.048C99.2119 32.7067 98.5079 32.536 97.7399 32.536C96.0545 32.536 94.7425 33.0907 93.8039 34.2C92.8652 35.3093 92.3959 36.7813 92.3959 38.616C92.3959 39.448 92.5239 40.248 92.7799 41.016C93.0572 41.7627 93.4305 42.424 93.8999 43C94.3905 43.5547 94.9559 44.0027 95.5959 44.344C96.2572 44.664 96.9719 44.824 97.7399 44.824C98.5719 44.824 99.3185 44.6747 99.9799 44.376C100.641 44.0773 101.196 43.6613 101.644 43.128C102.113 42.5733 102.465 41.9227 102.7 41.176C102.956 40.4293 103.084 39.5973 103.084 38.68ZM89.4519 38.68C89.4519 37.336 89.6652 36.1307 90.0919 35.064C90.5185 33.976 91.0945 33.0587 91.8199 32.312C92.5665 31.5653 93.4412 30.9893 94.4439 30.584C95.4679 30.1787 96.5665 29.976 97.7399 29.976C98.8919 29.976 99.9692 30.1787 100.972 30.584C101.996 30.9893 102.881 31.5653 103.628 32.312C104.375 33.0587 104.961 33.9653 105.388 35.032C105.815 36.0987 106.028 37.2933 106.028 38.616C106.028 39.9387 105.815 41.144 105.388 42.232C104.983 43.2987 104.407 44.216 103.66 44.984C102.913 45.752 102.028 46.3493 101.004 46.776C100.001 47.1813 98.9132 47.384 97.7399 47.384C96.5452 47.384 95.4359 47.1707 94.4119 46.744C93.4092 46.3173 92.5345 45.72 91.7879 44.952C91.0625 44.184 90.4865 43.2667 90.0599 42.2C89.6545 41.1333 89.4519 39.96 89.4519 38.68ZM119.169 26.424C118.721 26.1893 118.241 25.976 117.729 25.784C117.217 25.592 116.652 25.496 116.033 25.496C115.137 25.496 114.412 25.784 113.857 26.36C113.324 26.9147 113.057 27.736 113.057 28.824V30.968H117.985V33.464H113.057V47H110.177V33.464H107.617V30.968H110.177V29.016C110.177 28.0773 110.316 27.2347 110.593 26.488C110.87 25.7413 111.254 25.1013 111.745 24.568C112.236 24.0347 112.833 23.6293 113.537 23.352C114.241 23.0747 115.009 22.936 115.841 22.936C116.737 22.936 117.505 23.0427 118.145 23.256C118.806 23.448 119.436 23.6933 120.033 23.992L119.169 26.424ZM122.337 39.864C122.529 41.4213 123.073 42.6373 123.969 43.512C124.865 44.3867 126.049 44.824 127.521 44.824C128.481 44.824 129.345 44.728 130.113 44.536C130.881 44.3227 131.617 44.056 132.321 43.736L132.993 46.2C132.225 46.5627 131.361 46.8507 130.401 47.064C129.441 47.2773 128.364 47.384 127.169 47.384C125.974 47.384 124.897 47.192 123.937 46.808C122.977 46.4027 122.156 45.8373 121.473 45.112C120.812 44.3653 120.3 43.4587 119.937 42.392C119.574 41.304 119.393 40.0667 119.393 38.68C119.393 37.4427 119.574 36.2907 119.937 35.224C120.3 34.1573 120.812 33.24 121.473 32.472C122.134 31.6827 122.924 31.0747 123.841 30.648C124.758 30.2 125.782 29.976 126.913 29.976C128.108 29.976 129.153 30.1787 130.049 30.584C130.945 30.9893 131.692 31.544 132.289 32.248C132.886 32.952 133.334 33.7733 133.633 34.712C133.932 35.6507 134.081 36.6427 134.081 37.688C134.081 38.4347 134.049 39.16 133.985 39.864H122.337ZM126.849 32.472C125.59 32.472 124.556 32.8987 123.745 33.752C122.956 34.6053 122.476 35.864 122.305 37.528H131.425C131.425 35.9067 131.02 34.6587 130.209 33.784C129.398 32.9093 128.278 32.472 126.849 32.472ZM137.695 43.256C138.25 43.7467 138.943 44.1413 139.775 44.44C140.629 44.7387 141.535 44.888 142.495 44.888C143.69 44.888 144.586 44.696 145.183 44.312C145.802 43.9067 146.111 43.3947 146.111 42.776C146.111 42.456 146.047 42.1573 145.919 41.88C145.813 41.6027 145.599 41.336 145.279 41.08C144.981 40.824 144.565 40.5787 144.031 40.344C143.498 40.088 142.805 39.8107 141.951 39.512C140.373 38.9787 139.199 38.3493 138.431 37.624C137.663 36.8773 137.279 35.8533 137.279 34.552C137.279 33.912 137.418 33.3147 137.695 32.76C137.994 32.2053 138.41 31.7253 138.943 31.32C139.498 30.8933 140.159 30.5627 140.927 30.328C141.717 30.0933 142.613 29.976 143.615 29.976C144.703 29.976 145.653 30.0933 146.463 30.328C147.295 30.5413 148.042 30.8187 148.703 31.16L147.903 33.528C147.327 33.1867 146.666 32.9093 145.919 32.696C145.194 32.4827 144.383 32.376 143.487 32.376C142.378 32.376 141.535 32.6 140.959 33.048C140.383 33.496 140.095 33.9867 140.095 34.52C140.095 34.776 140.138 35.0107 140.223 35.224C140.33 35.4373 140.511 35.64 140.767 35.832C141.023 36.024 141.365 36.216 141.791 36.408C142.218 36.6 142.751 36.8027 143.391 37.016C144.437 37.3787 145.322 37.752 146.047 38.136C146.773 38.4987 147.359 38.904 147.807 39.352C148.255 39.8 148.575 40.2907 148.767 40.824C148.959 41.336 149.055 41.912 149.055 42.552C149.055 43.2987 148.895 43.9707 148.575 44.568C148.255 45.1653 147.807 45.6773 147.231 46.104C146.655 46.5093 145.951 46.8187 145.119 47.032C144.309 47.2667 143.402 47.384 142.399 47.384C141.119 47.384 139.978 47.224 138.975 46.904C137.973 46.584 137.141 46.168 136.479 45.656L137.695 43.256ZM165.24 38.68C165.24 37.848 165.101 37.0587 164.824 36.312C164.568 35.5653 164.195 34.9147 163.704 34.36C163.235 33.8053 162.669 33.368 162.008 33.048C161.368 32.7067 160.664 32.536 159.896 32.536C158.211 32.536 156.899 33.0907 155.96 34.2C155.021 35.3093 154.552 36.7813 154.552 38.616C154.552 39.448 154.68 40.248 154.936 41.016C155.213 41.7627 155.587 42.424 156.056 43C156.547 43.5547 157.112 44.0027 157.752 44.344C158.413 44.664 159.128 44.824 159.896 44.824C160.728 44.824 161.475 44.6747 162.136 44.376C162.797 44.0773 163.352 43.6613 163.8 43.128C164.269 42.5733 164.621 41.9227 164.856 41.176C165.112 40.4293 165.24 39.5973 165.24 38.68ZM151.608 38.68C151.608 37.336 151.821 36.1307 152.248 35.064C152.675 33.976 153.251 33.0587 153.976 32.312C154.723 31.5653 155.597 30.9893 156.6 30.584C157.624 30.1787 158.723 29.976 159.896 29.976C161.048 29.976 162.125 30.1787 163.128 30.584C164.152 30.9893 165.037 31.5653 165.784 32.312C166.531 33.0587 167.117 33.9653 167.544 35.032C167.971 36.0987 168.184 37.2933 168.184 38.616C168.184 39.9387 167.971 41.144 167.544 42.232C167.139 43.2987 166.563 44.216 165.816 44.984C165.069 45.752 164.184 46.3493 163.16 46.776C162.157 47.1813 161.069 47.384 159.896 47.384C158.701 47.384 157.592 47.1707 156.568 46.744C155.565 46.3173 154.691 45.72 153.944 44.952C153.219 44.184 152.643 43.2667 152.216 42.2C151.811 41.1333 151.608 39.96 151.608 38.68ZM181.037 33.144C180.632 32.9733 180.152 32.888 179.597 32.888C179 32.888 178.413 33.016 177.837 33.272C177.282 33.528 176.781 33.912 176.333 34.424C175.906 34.936 175.554 35.5973 175.277 36.408C175.021 37.1973 174.893 38.136 174.893 39.224V47H172.013V30.36H174.797V33.976C174.989 33.464 175.245 32.9627 175.565 32.472C175.885 31.9813 176.258 31.5547 176.685 31.192C177.133 30.8293 177.645 30.5413 178.221 30.328C178.797 30.0933 179.437 29.976 180.141 29.976C180.461 29.976 180.77 29.9973 181.069 30.04C181.389 30.0613 181.666 30.104 181.901 30.168L181.037 33.144ZM187.674 47H184.794V30.36H187.674V47ZM186.234 27.512C185.68 27.512 185.2 27.32 184.794 26.936C184.41 26.5307 184.218 26.0507 184.218 25.496C184.218 24.8773 184.4 24.3867 184.762 24.024C185.125 23.6613 185.616 23.48 186.234 23.48C186.789 23.48 187.258 23.6827 187.642 24.088C188.048 24.472 188.25 24.9413 188.25 25.496C188.25 26.1147 188.069 26.6053 187.706 26.968C187.344 27.3307 186.853 27.512 186.234 27.512Z" fill="white"/>
        <path d="M166.601 104.884C165.193 104.884 163.977 104.703 162.953 104.34C161.95 103.956 161.086 103.497 160.361 102.964L161.673 100.564C162.27 101.012 162.953 101.407 163.721 101.748C164.51 102.089 165.481 102.26 166.633 102.26C168.041 102.26 169.15 101.897 169.961 101.172C170.793 100.425 171.209 99.4867 171.209 98.356C171.209 97.78 171.091 97.2253 170.857 96.692C170.622 96.1587 170.249 95.7 169.737 95.316C169.246 94.9107 168.617 94.5907 167.849 94.356C167.102 94.1213 166.206 94.004 165.161 94.004H163.369V91.668H165.033C165.971 91.668 166.793 91.5613 167.497 91.348C168.201 91.1133 168.777 90.804 169.225 90.42C169.694 90.036 170.035 89.6093 170.249 89.14C170.483 88.6493 170.601 88.148 170.601 87.636C170.601 86.6333 170.217 85.8227 169.449 85.204C168.702 84.5853 167.774 84.276 166.665 84.276C165.641 84.276 164.745 84.4467 163.977 84.788C163.209 85.108 162.579 85.4707 162.089 85.876L160.905 83.604C161.545 83.1773 162.366 82.7613 163.369 82.356C164.371 81.9293 165.545 81.716 166.889 81.716C167.934 81.716 168.862 81.8653 169.673 82.164C170.505 82.4627 171.198 82.868 171.753 83.38C172.329 83.892 172.766 84.4893 173.065 85.172C173.363 85.8333 173.513 86.5267 173.513 87.252C173.513 88.532 173.193 89.5987 172.553 90.452C171.934 91.284 171.049 91.9773 169.897 92.532C171.241 93.044 172.286 93.7907 173.033 94.772C173.801 95.7533 174.185 96.916 174.185 98.26C174.185 99.092 174.025 99.9133 173.705 100.724C173.406 101.513 172.947 102.217 172.329 102.836C171.71 103.455 170.921 103.956 169.961 104.34C169.001 104.703 167.881 104.884 166.601 104.884ZM187.132 81.716C188.369 81.716 189.468 81.9827 190.428 82.516C191.388 83.028 192.188 83.7853 192.828 84.788C193.468 85.7693 193.948 86.9853 194.268 88.436C194.609 89.8653 194.78 91.4973 194.78 93.332C194.78 97.044 194.119 99.9027 192.796 101.908C191.473 103.892 189.564 104.884 187.068 104.884C184.572 104.884 182.673 103.871 181.372 101.844C180.071 99.8173 179.42 96.9587 179.42 93.268C179.42 89.556 180.081 86.708 181.404 84.724C182.727 82.7187 184.636 81.716 187.132 81.716ZM187.1 84.34C186.396 84.34 185.756 84.5 185.18 84.82C184.604 85.1187 184.113 85.62 183.708 86.324C183.303 87.0067 182.993 87.9133 182.78 89.044C182.567 90.1747 182.46 91.572 182.46 93.236C182.46 96.2013 182.865 98.452 183.676 99.988C184.487 101.503 185.628 102.26 187.1 102.26C187.804 102.26 188.444 102.111 189.02 101.812C189.596 101.492 190.087 100.991 190.492 100.308C190.897 99.604 191.207 98.6867 191.42 97.556C191.633 96.4253 191.74 95.028 191.74 93.364C191.74 90.3987 191.335 88.1587 190.524 86.644C189.713 85.108 188.572 84.34 187.1 84.34Z" fill="white"/>
        <path d="M66 90.875C60.1 85.375 52.2 82 43.5 82V109.5C52.2 109.5 60.1 112.875 66 118.375C71.9 112.9 79.8 109.5 88.5 109.5V82C79.8 82 71.9 85.375 66 90.875ZM66 82C70.15 82 73.5 78.65 73.5 74.5C73.5 70.35 70.15 67 66 67C61.85 67 58.5 70.35 58.5 74.5C58.5 78.65 61.85 82 66 82Z" fill="white"/>
        <defs>
          <linearGradient id="paint0_linear" x1="33.5" y1="-24" x2="188.5" y2="202.5" gradientUnits="userSpaceOnUse">
            <stop stop-color="#4190E0"/>
            <stop offset="1" stop-color="#F2AE15" stop-opacity="0"/>
          </linearGradient>
        </defs>
      </svg>

    </div>
    <div class="cloud-4">
      <svg width="249" height="147" viewBox="0 0 249 147" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M249 81C249 131.534 193.259 147 124.5 147C55.7405 147 0 131.534 0 81C0 30.4659 55.7405 0 124.5 0C193.259 0 249 30.4659 249 81Z" fill="gray" fill-opacity=".32"/>
        <g clip-path="url(#clip0)">
          <path d="M55.5 93.95V103.95L73 113.5L90.5 103.95V93.95L73 103.5L55.5 93.95ZM73 68.5L45.5 83.5L73 98.5L95.5 86.225V103.5H100.5V83.5L73 68.5Z" fill="white"/>
        </g>
        <path d="M67.9555 27.972L61.9715 41.444H58.9635L52.9475 27.972V46.5H50.0675V24.1H54.3235L60.5315 38.276L66.6435 24.1H70.9955V46.5H67.9555V27.972ZM78.259 39.364C78.451 40.9213 78.995 42.1373 79.891 43.012C80.787 43.8867 81.971 44.324 83.443 44.324C84.403 44.324 85.267 44.228 86.035 44.036C86.803 43.8227 87.539 43.556 88.243 43.236L88.915 45.7C88.147 46.0627 87.283 46.3507 86.323 46.564C85.363 46.7773 84.2857 46.884 83.091 46.884C81.8963 46.884 80.819 46.692 79.859 46.308C78.899 45.9027 78.0777 45.3373 77.395 44.612C76.7337 43.8653 76.2217 42.9587 75.859 41.892C75.4963 40.804 75.315 39.5667 75.315 38.18C75.315 36.9427 75.4963 35.7907 75.859 34.724C76.2217 33.6573 76.7337 32.74 77.395 31.972C78.0563 31.1827 78.8457 30.5747 79.763 30.148C80.6803 29.7 81.7043 29.476 82.835 29.476C84.0297 29.476 85.075 29.6787 85.971 30.084C86.867 30.4893 87.6137 31.044 88.211 31.748C88.8083 32.452 89.2563 33.2733 89.555 34.212C89.8537 35.1507 90.003 36.1427 90.003 37.188C90.003 37.9347 89.971 38.66 89.907 39.364H78.259ZM82.771 31.972C81.5123 31.972 80.4777 32.3987 79.667 33.252C78.8777 34.1053 78.3977 35.364 78.227 37.028H87.347C87.347 35.4067 86.9417 34.1587 86.131 33.284C85.3203 32.4093 84.2003 31.972 82.771 31.972ZM100.145 46.884C99.1213 46.884 98.1506 46.6813 97.2333 46.276C96.3373 45.8707 95.5479 45.2947 94.8653 44.548C94.2039 43.8013 93.6813 42.9053 93.2973 41.86C92.9133 40.7933 92.7213 39.5987 92.7213 38.276C92.7213 37.0173 92.9133 35.8547 93.2973 34.788C93.7026 33.7 94.2359 32.772 94.8973 32.004C95.5799 31.2147 96.3693 30.596 97.2653 30.148C98.1613 29.7 99.1106 29.476 100.113 29.476C101.223 29.476 102.172 29.7 102.961 30.148C103.772 30.596 104.401 31.0547 104.849 31.524V22.82H107.729V42.468C107.729 43.2787 107.921 43.812 108.305 44.068C108.711 44.3027 109.148 44.42 109.617 44.42L109.009 46.66C106.983 46.66 105.745 45.8493 105.297 44.228C104.807 44.9107 104.145 45.5293 103.313 46.084C102.481 46.6173 101.425 46.884 100.145 46.884ZM100.785 44.324C101.575 44.324 102.321 44.1427 103.025 43.78C103.751 43.396 104.359 42.9053 104.849 42.308V34.052C104.444 33.54 103.879 33.0707 103.153 32.644C102.449 32.196 101.649 31.972 100.753 31.972C99.9853 31.972 99.2813 32.132 98.6413 32.452C98.0226 32.772 97.4893 33.2093 97.0413 33.764C96.5933 34.3187 96.2519 34.98 96.0173 35.748C95.7826 36.4947 95.6653 37.3053 95.6653 38.18C95.6653 39.076 95.7933 39.8973 96.0493 40.644C96.3053 41.3907 96.6573 42.0413 97.1053 42.596C97.5746 43.1293 98.1186 43.556 98.7373 43.876C99.3773 44.1747 100.06 44.324 100.785 44.324ZM116.346 46.5H113.466V29.86H116.346V46.5ZM114.906 27.012C114.352 27.012 113.872 26.82 113.466 26.436C113.082 26.0307 112.89 25.5507 112.89 24.996C112.89 24.3773 113.072 23.8867 113.434 23.524C113.797 23.1613 114.288 22.98 114.906 22.98C115.461 22.98 115.93 23.1827 116.314 23.588C116.72 23.972 116.922 24.4413 116.922 24.996C116.922 25.6147 116.741 26.1053 116.378 26.468C116.016 26.8307 115.525 27.012 114.906 27.012ZM123.29 39.364C123.482 40.9213 124.026 42.1373 124.922 43.012C125.818 43.8867 127.002 44.324 128.474 44.324C129.434 44.324 130.298 44.228 131.066 44.036C131.834 43.8227 132.57 43.556 133.274 43.236L133.946 45.7C133.178 46.0627 132.314 46.3507 131.354 46.564C130.394 46.7773 129.317 46.884 128.122 46.884C126.928 46.884 125.85 46.692 124.89 46.308C123.93 45.9027 123.109 45.3373 122.426 44.612C121.765 43.8653 121.253 42.9587 120.89 41.892C120.528 40.804 120.346 39.5667 120.346 38.18C120.346 36.9427 120.528 35.7907 120.89 34.724C121.253 33.6573 121.765 32.74 122.426 31.972C123.088 31.1827 123.877 30.5747 124.794 30.148C125.712 29.7 126.736 29.476 127.866 29.476C129.061 29.476 130.106 29.6787 131.002 30.084C131.898 30.4893 132.645 31.044 133.242 31.748C133.84 32.452 134.288 33.2733 134.586 34.212C134.885 35.1507 135.034 36.1427 135.034 37.188C135.034 37.9347 135.002 38.66 134.938 39.364H123.29ZM127.802 31.972C126.544 31.972 125.509 32.3987 124.698 33.252C123.909 34.1053 123.429 35.364 123.258 37.028H132.378C132.378 35.4067 131.973 34.1587 131.162 33.284C130.352 32.4093 129.232 31.972 127.802 31.972ZM148.786 24.164C149.533 24.0787 150.45 24.004 151.538 23.94C152.648 23.876 153.928 23.844 155.378 23.844C158.13 23.844 160.232 24.356 161.682 25.38C163.154 26.404 163.89 27.812 163.89 29.604C163.89 30.7987 163.581 31.8013 162.962 32.612C162.344 33.4227 161.426 34.0947 160.21 34.628C161.661 35.14 162.76 35.844 163.506 36.74C164.253 37.636 164.626 38.756 164.626 40.1C164.626 42.148 163.826 43.7693 162.226 44.964C160.648 46.1587 158.322 46.756 155.25 46.756C153.949 46.756 152.712 46.724 151.538 46.66C150.386 46.6173 149.469 46.5427 148.786 46.436V24.164ZM155.474 44.228C157.394 44.228 158.877 43.8867 159.922 43.204C160.989 42.5213 161.522 41.5293 161.522 40.228C161.522 38.948 161 37.9453 159.954 37.22C158.909 36.4947 157.416 36.132 155.474 36.132H151.826V44.036C152.936 44.164 154.152 44.228 155.474 44.228ZM155.346 33.764C157.032 33.764 158.365 33.4227 159.346 32.74C160.349 32.036 160.85 31.1187 160.85 29.988C160.85 28.772 160.36 27.8547 159.378 27.236C158.397 26.6173 157.053 26.308 155.346 26.308C154.642 26.308 154.002 26.3293 153.426 26.372C152.85 26.3933 152.317 26.4253 151.826 26.468V33.764H155.346ZM166.383 45.7L175.151 24.1H178.479L187.119 45.7L184.335 46.82L181.839 40.42H171.471L168.975 46.756L166.383 45.7ZM172.431 37.86H180.847L176.655 27.108L172.431 37.86ZM191.516 35.268C191.516 36.612 191.687 37.8387 192.029 38.948C192.391 40.036 192.882 40.9747 193.501 41.764C194.141 42.5533 194.898 43.1613 195.773 43.588C196.647 44.0147 197.607 44.228 198.653 44.228C199.698 44.228 200.605 44.1107 201.373 43.876C202.141 43.62 202.887 43.2787 203.613 42.852L204.541 45.38C203.751 45.8067 202.845 46.1693 201.821 46.468C200.818 46.7453 199.645 46.884 198.301 46.884C196.829 46.884 195.485 46.6173 194.269 46.084C193.074 45.5507 192.039 44.7933 191.165 43.812C190.29 42.8093 189.607 41.604 189.117 40.196C188.647 38.7667 188.413 37.1667 188.413 35.396C188.413 33.6893 188.647 32.1213 189.117 30.692C189.607 29.2627 190.301 28.036 191.197 27.012C192.093 25.9667 193.17 25.156 194.429 24.58C195.709 24.004 197.127 23.716 198.685 23.716C199.773 23.716 200.743 23.8227 201.597 24.036C202.471 24.228 203.293 24.5053 204.061 24.868L203.133 27.428C202.471 27.108 201.789 26.852 201.085 26.66C200.402 26.468 199.591 26.372 198.653 26.372C197.629 26.372 196.679 26.5747 195.805 26.98C194.93 27.364 194.173 27.94 193.533 28.708C192.893 29.476 192.391 30.4147 192.029 31.524C191.687 32.612 191.516 33.86 191.516 35.268Z" fill="white"/>
        <path d="M174.402 92.436C173.25 91.8173 172.376 91.1027 171.778 90.292C171.181 89.46 170.882 88.436 170.882 87.22C170.882 86.4093 171.042 85.6733 171.362 85.012C171.704 84.3293 172.162 83.7427 172.738 83.252C173.336 82.7613 174.029 82.388 174.818 82.132C175.629 81.8547 176.493 81.716 177.41 81.716C178.392 81.716 179.288 81.8547 180.098 82.132C180.93 82.4093 181.634 82.804 182.21 83.316C182.808 83.8067 183.266 84.3827 183.586 85.044C183.928 85.7053 184.098 86.42 184.098 87.188C184.098 88.4893 183.768 89.5453 183.106 90.356C182.445 91.1667 181.56 91.8493 180.45 92.404C182.029 93.0867 183.234 93.9187 184.066 94.9C184.898 95.86 185.314 97.044 185.314 98.452C185.314 99.412 185.122 100.297 184.738 101.108C184.354 101.897 183.821 102.569 183.138 103.124C182.456 103.679 181.645 104.116 180.706 104.436C179.768 104.735 178.754 104.884 177.666 104.884C176.45 104.884 175.341 104.724 174.338 104.404C173.357 104.084 172.525 103.647 171.842 103.092C171.16 102.516 170.626 101.855 170.242 101.108C169.88 100.34 169.698 99.5187 169.698 98.644C169.698 97.236 170.072 96.0307 170.818 95.028C171.565 94.004 172.76 93.14 174.402 92.436ZM182.37 98.516C182.37 97.492 181.912 96.5747 180.994 95.764C180.098 94.9533 178.85 94.26 177.25 93.684C176.632 93.8333 176.045 94.0467 175.49 94.324C174.936 94.58 174.445 94.9 174.018 95.284C173.613 95.6467 173.282 96.0733 173.026 96.564C172.77 97.0333 172.642 97.556 172.642 98.132C172.642 98.7293 172.77 99.284 173.026 99.796C173.282 100.308 173.634 100.756 174.082 101.14C174.53 101.503 175.064 101.791 175.682 102.004C176.301 102.217 176.973 102.324 177.698 102.324C179.064 102.324 180.184 101.972 181.058 101.268C181.933 100.564 182.37 99.6467 182.37 98.516ZM173.666 87.156C173.666 88.0947 174.04 88.9373 174.786 89.684C175.533 90.4093 176.546 90.964 177.826 91.348C178.296 91.1987 178.733 90.996 179.138 90.74C179.565 90.484 179.938 90.196 180.258 89.876C180.578 89.556 180.834 89.1933 181.026 88.788C181.218 88.3827 181.314 87.9453 181.314 87.476C181.314 86.9853 181.208 86.5373 180.994 86.132C180.802 85.7053 180.525 85.3427 180.162 85.044C179.821 84.7453 179.416 84.5107 178.946 84.34C178.477 84.1693 177.965 84.084 177.41 84.084C176.322 84.084 175.426 84.372 174.722 84.948C174.018 85.5027 173.666 86.2387 173.666 87.156Z" fill="white"/>
        <defs>
          <linearGradient id="paint0_linear" x1="33.5" y1="-24" x2="188.5" y2="202.5" gradientUnits="userSpaceOnUse">
            <stop stop-color="#4190E0"/>
            <stop offset="1" stop-color="#F2AE15" stop-opacity="0"/>
          </linearGradient>
          <clipPath id="clip0">
            <rect width="60" height="60" fill="white" transform="translate(43 60.5)"/>
          </clipPath>
        </defs>
      </svg>

    </div>
  </div>
</div>


<div class="contacts">
  <div class="emails">
  <div class="address">
    <img src="https://video-public.canva.com/VADqk0Iq6gU/videos/11c1e12085.gif">
    <a href="">Moldova 5600, Riscani str. Musicescu,2</a>
  </div>
    <div class="email">
      <img src="https://video-public.canva.com/VADqk5qAjiU/videos/e4f307b4e6.gif">
      <a href="">ltldamianrs@gmail.com</a>
    </div>
    <div class="number">
      <img src="https://video-public.canva.com/VADqkykGLDE/videos/9de0eba859.gif">
      <a href="">+373 256 22963</a>
    </div>
    <div class="message">
      <img src="https://video-public.canva.com/VADqk1u_kjI/videos/8a054d276d.gif">
      <a href="">hello@reallygreatsite.com</a>
    </div>
  </div>
  <div class="contact-us">
  <p>Contactati-ne</p>
    <div class="contacts-dates">
      <div class="name">
        <input type="text" placeholder=" Nume*">
      </div>
      <div class="e-mail">
        <input type="text" placeholder=" E-mail*">
      </div>
      <div class="phone-number">
      <input type="text" placeholder=" Nr. de telefon*">
    </div>
      <div class="message-client">
        <form>
          <textarea placeholder=" Mesaj*"></textarea>
        </form>
      </div>
      <button class="send-message">Trimite</button>
    </div>
  </div>
</div>

