.news p{
text-align: center;
  padding-top: 118px;
  color: #D10A0A;
}








.inspiration{
  position: absolute;
  left: 85px;
  padding-top: 60px;
}
.inspiration p{
  position: absolute;
  color: white;
  width: 599px;
  height: 35px;
  left: 124px;
  top: 102px;
}

.cloud-1{
  position: absolute;
  left: 129px;
  top: 200px;
}
.cloud-2{
  position: absolute;
  top: 200px;
  left: 661px;
}
.cloud-3{
  position: absolute;
  top: 414px;
  left: 407px;
}
.cloud-4{
  position: absolute;
  top: 414px;
  left: 927px;
}
.emails, .contact-us{
  width: 50%;
  height: 838px;
}

.contacts{
  position: absolute;
  width: 100%;
  height: 838px;
  background-size: cover;
  z-index: 1000;
  display: inline-flex;
  margin-top: 900px;
  background-image: url("https://www.canarahsbclife.com/images/revamp/contact-us.jpg");
}

.emails{
  background-color: #1E1E1E;
}

.contact-us{
  background-color: #1E1E1E;
  opacity: .61;
}


.emails{
  display: grid;
}
.address, .email, .number, .message{
  display: inline-block;
  padding-left: 80px;
}

.address a, .email a, .number a, .message a{
  color: white;
  padding-left: 50px;
  cursor: pointer;
}
.address{
  padding-top: 100px;
}
.address img{
  width: 43px;
  height: 67px;
}
.email img{
  width: 56px;
  height: 56px;
}
.number img{
  width: 61px;
  height: 56px;
}

.message img{
  width: 79px;
  height: 36px;
}

.contact-us{
  color: white;
  padding-left: 90px;
  padding-top: 50px;
}
.contact-us p{
  font-size: 48px;
}
.contacts-dates{
  width: 603px;
  height: 681px;
  top: 98px;
  border: 1px solid #ffffff;
}

.e-mail input, .phone-number input, .name input{
  width: 545px;
  height: 65px;
  margin-left: 30px;
  margin-top: 31px;
  background: none;
  border: 2px solid #FFFFFF;
}

textarea {
  width: 545px;
  height: 200px;
  margin-left: 30px;
  margin-top: 31px;
  background: none;
  border: 2px solid #FFFFFF;
  resize: none;
  color: white;
  font-size: 25px;
}
::placeholder {
  color: white;
  font-size: 36px;
}

input[type=text]{
  color: #ffffff;
  font-size:36px;
}
input:after{
  color: white;
}
.send-message{
  background: none;
  border: 2px solid white;
  width: 170px;
  height: 70px;
  margin-top: 32px;
  color: white;
  font-size: 36px;
  margin-left: 30px;
}
